# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Generated data
*.nc
*.nc4

# Temporary files
*.tmp
*.log

cds_config.txt

